<!DOCTYPE html>
<html ng-app ='Kittens'>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <title>Kittens!!</title>
  </head>
  <body ng-controller = 'KittensController'>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Kittens!</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" ng-click='form = !form'>New Kitten <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {{1+3}}
    <div class='container' ng-show='form'>
      <form>
        <div class='form-group'>
          <label for='name'>Name</label>
          <input ng-model='post.name' id='name' class='form-control' type='text' nam='name' placeholder="Kitten's name">
        </div>
        <div class='form-group'>
          <label for='url'>Image URL</label>
          <input ng-model='post.image' id='url' class='form-control' type='url' name='url' placeholder="Enter valid url">
        </div>
        <div class='form-group'>
          <label for='bio'>Bio</label>
          <input ng-model='post.bio' id='bio' class='form-control' type='text' name='bio' placeholder="Bio">
        </div>
        <div class='form-group'>
          <button ng-click='submitPost()' class='form-control' type='submit' class='btn btn-default'>Add Kitten</button>
        </div>
      </form>
    </div> <!--container -->
    <div class='container-fluid' ng-repeat='kitten in kittens' ng-controller='KittensController'>
      <div class='well'>
        <h4>Kitten Name: {{kitten.name}}</h4>
        <h4>Kitten Image: <img ng-src="{{kitten.image}}" alt="kitten" class='img-thumbnail'/></h4>
      </div>
    </div>
    <script type="text/javascript" src='bower_components/angular/angular.min.js'></script>
    <script type="text/javascript" src='app.js'></script>
    <script type="text/javascript" src='KittensController.js'>

    </script>
  </body>
</html>
